%burger-btn {
    position: absolute;
    width: 6.7vw;
    height: .5vh;
    background: map-get($map: $colors, $key: mobile_names_white);
    display: flex;
    border-radius: 5px;
    box-shadow: 0 2px 5px map-get($map: $colors, $key: dark_purple);
    transition: all .5s ease-in-out;
}

#menu--button {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 15vw;
    height: 10vh;
    cursor: pointer;
    transition: all .5s ease-in-out;

    
    .menu__burger-btn-left {

        @extend %burger-btn;
        transform: translateX(-.6rem);


        &::before,
        &::after {
            content: '';
            @extend %burger-btn;
        };

        &::before {
            transform: translateY(-1rem);
        };

        &::after {
            transform: translateY(1rem);
        };

        
    }

    .open-left {
        transform: translateX(-3.125rem);
        background: transparent;
        box-shadow: none;
        position: relative;


        &::before {
            content: '';
            transform: rotate(45deg) translate(23px, -36px);
        };

        &::after {
            transform: rotate(-45deg) translate(24px, 36px);
        }
    }


    .menu__burger-btn-right {

        @extend %burger-btn;
        transform: translateX(.75rem);

        &::before,
        &::after {
            content: '';
            @extend %burger-btn;
        };

        &::before {
            transform: translateY(-1rem);
        };

        &::after {
            transform: translateY(1rem);
        };

        
    }

    .open-right {
        display: flex;
        transform: translateX(3.125rem);
        background: transparent;
        box-shadow: none;
        position: absolute;
        left: 30;

        &::before {
            content: '';
            transform: rotate(-45deg) translate(-23px, -35px);
        };

        &::after {
            transform: rotate(45deg) translate(-22px, 35px);
        }
    }
    
}