@import "variables";
@import "main-page";
@import "team-page"; 
@import "animations";
// @import "main-arrow";
@media (max-width: 39rem) {

    @import "main-project-mobile";
}
@media (min-width: 40rem)
{
    @import "main-arrow";

     @import "main-project"; 
}
@import "style-coding-div";

.test {
    background-color: white;
    height: 50vh;
    width: 100%;
}