@import "_variables.scss";
html {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

section {
  width: 100%;
  height: 100vh;
 
  /* Scroll Snap */
  scroll-snap-align: center;
}

.container--scroll {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.main-page {
    position: relative;
  background-color: map-get($colors, main_gray);
  width: 100vw;
  height: 100vh;

}

.projects-page {
  height: 100vh;
}

.rotating-div {
  width: calc(1.5*67vh);
  height: calc(1.5*38vh);
  position: absolute;
  top: calc(1.5*-38vh);
  right: calc(1.5*-8.3vh);
  transform: rotateZ(30deg);
 
  transform-origin: bottom left;
  z-index: 1;

  &--coding {
    height: calc(100% - 4rem);
    background-color: map-get($colors, light_gray);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p:first-of-type {
      margin-top: 19vh;
      margin-left: 25%;
    }
    p {
      font-size: 1.5rem; 
      margin: none; 
    }
  }
  &--navbar {
    -webkit-box-shadow: 0px 8px 23px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 8px 23px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 8px 23px 0px rgba(0,0,0,0.5);
    height: 3rem;
    background-color: map-get($colors, main_yellow);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-items: center;
    p {
      margin: auto;
      font-size: 2rem;
      font-family: "Bebas neue";
      text-align: center;
    }
  }
}

.logo-section {
  color: white;
  width: 100%;
  height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  justify-items: center;
  text-align: center;
  top: 30%;
  &--motto {
    width: 60vw;
    height: 40vh;

    &__image {
      height: 50vh;
      width: 100%;
      background: url("../assets/img/harp0nfinal.png") no-repeat;
      background-size: contain;
      background-position: center;
    }
    &__text {
      width: 100%;
      margin: 0;
      padding:0;
      font-family: "Roboto";
      letter-spacing: 2rem;
      font-size: 1.5rem;
      font-weight: 100;

    }
  }
}

.bottom-line {
  width: 100%;
  height: 1rem;
  background-color: map-get($colors, main_yellow);
}
